h1{
    color: aqua;
    color:#88084842;
}
body{
    background:url(pexels-danieljschwarz-34702423.jpg);
    background-size: cover;
  
}
p{
    color:#000000;
    color: #0000ff;
    color:#0b9e0b70;
    color:rgba(255, 255, 255, 0.7);
}